@import "~antd/dist/antd.dark.less";

@font-face {
  font-family: "pt_sansregular";
  src: url("/public/ptsans-regular-webfont.woff2") format("woff2"),
    url("/public//ptsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

body {
  background-color: #181820;
  font-family: "pt_sansregular", sans-serif;
  overflow-x: hidden;
}
